# API URL del backend
# Desarrollo (Prism mock):
VITE_API_URL=http://localhost:4010
# Produccion (despues de deploy):
# VITE_API_URL=https://abc123.execute-api.us-east-1.amazonaws.com

# Nombre de la app
VITE_APP_NAME=Sentinel AcademIA

# Ambiente
VITE_ENV=development
